@font-face {
    font-family: "dosis";
    src: url(../fonts/Dosis-Regular.ttf) format("truetype");
}

html {
    min-width: 100%;
    min-height: 100%;
}

body > div.container {
    padding-top: 30px;
}

body > div.container > div > h1 {
    font-size: 80px;
}

nav {
    border-bottom: 1px solid #eee;
    width: 100%;
    /* position: absolute; */
    top: 0px;
    min-height: 70px;
}

.mynav > div {
    padding: 22px 0px;
    text-align: center;
    font-size: 20px;
}

.mynav a {
    color: black;
}

.drop {
    position: relative;
    /* display: inline-block; */
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 16px;
    z-index: 1;
    margin-left: 50px;
    /* text-align: left; */
}

ul.drop-content {
    list-style: none;
}

.drop:hover .drop-content {
    display: block;
}

.drop:active .drop-content {
    display: block;
}

.nav-logo {
    max-height: 60px;
}

.pointer {
    cursor: pointer;
}

.glyphicon {
    color: rgb(54, 190, 20);
    margin-right: 5px;
}

.home-header {
    background: url('../images/baseBG.png');
    background-size: cover;
    background-position: center 65%;
    width: 100%;
    height: 450px;
}

.header-logo {
    /* height: 250px; */
    width: 80%;
    margin: 50px 10%;
}

.homepage-product-img {
    max-width: 100%;
}

.front-back-image {
    width: 100%;
}

.signature {
    color: white;
}

.hidden-signature {
    color: transparent;
}

.cashew-img {
    max-width: 200%;
    margin-left: -120px;
    margin-top: -20px;
}

footer {
    /* border-top: 1px solid #eee; */
    min-height: 110px;
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('../images/footer0.png');
    color: white;
}

footer > div > div > a {
    color: white;
}

#footer-hot-links {
    padding-top: 9px;
}

#footer-hot-links > a {
    margin-right: 10px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .logo-div {
        margin-left: 18%;
    }

    .cashew-img {
        margin-left: -58px;
        max-width: 140%;
        margin-top: 0px;
        /* margin-right: 20px; */
    }
}